@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}
.content{
  padding: 10px;
  margin: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header{
  display: flex;
  flex: 0 1 0;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #eeeeeeee
}
.left-links,
.right-links{
  display: flex;
}
.right-links{
  padding-right: 25px;
}

.input{
  display: flex;
  justify-content: center;
  align-items: center;
}

body .footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #eeeeeeee;
}
a{
  color: rgb(39, 38, 38);
  background-color: #eeeeeeee;
}
ul{
  list-style: none;
  gap: 16px;
}
a{
  text-decoration: none;
}
img {
  width: 600px;
  display: flex;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
